<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
</head>
<body>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="topBar">
    <div fxLayout="column" fxFlex="20">

    </div>
    <div fxLayout="column" fxFlex="60">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="40"></div>
        <div fxLayout="column" fxFlex="30">
          <img (click)="goHome()"class="artdly" src="assets/artdlyLogo.png">

        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="20">

    </div>
  </div>
  <div style="height: 60px"></div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="contentBody">
    <mat-card class="center" style="width: 80%; height: 90%">
      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxFlex="15" class="center" style="font-size: xx-large; padding-top: 25px">
          Publicar Obra
        </div>
        <div fxLayout="row" fxFlex="65">
          <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" fxFlex="20" class="center" style="width: 80%; padding-top: 10px">
              <input #tittle placeholder="Titulo" type="text" style="width: 70%" class="input2" required="">
            </div>
            <div fxLayout="row" fxFlex="20" class="center" style="width: 80%; padding-top: 10px">
              <input #description placeholder="Decripción" type="text" style="width: 70%" class="input2" required="">
            </div>
            <div fxLayout="row" fxFlex="20" class="center" style="width: 80%; padding-top: 10px">
              <mat-form-field appearance="fill" style="max-height: 25px; width: 70%">
                <mat-label>Categoria</mat-label>
                <mat-select #category>
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="20" class="center" style="width: 80%; padding-top: 10px">
              <mat-form-field appearance="fill" style="max-height: 25px; width: 70%">
                <mat-label>Tipo de obra</mat-label>
                <mat-select #artworkType>
                  <mat-option  *ngFor="let artworkType of artworkTypes" [value]="artworkType">
                    {{artworkType.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="20" class="center" style="width: 80%; padding-top: 10px">
              <div class="text-center">
                <input class="form-control" type="file"
                       (change)="onChange($event)" style="width: 100%">
                <p style="padding-left: 10px; font-size: small">Solo imagenes</p>

<!--                <button (click)="onUpload()"-->
<!--                        class="btn btn-success">-->
<!--                  Upload-->
<!--                </button>-->
              </div>
            </div>
          </div>
          <div fxLayout="row" fxFlex="50">
            <img class="center" src="assets/artdlyLogo.jpeg">
          </div>
        </div>
        <div fxLayout="row" fxFlex="20">
          <div fxLayout="column" fxFlex="50" style="padding-top: 30px">
            <button class="center" (click)="goHome()">
              Cancelar
            </button >
          </div>
          <div fxLayout="column" fxFlex="50" style="padding-top: 30px">
            <button class="center" (click)="registerArtwork(tittle.value, description.value, artworkType.value)">
              Continuar
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</body>
</html>
