<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="topBar">
    <div fxLayout="column" fxFlex="20">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="row" fxFlex="9"></div>
        <div fxLayout="column">
          <div fxLayut="column" fxFlex="30"></div>
          <div title="Registrarse" fxLayut="column" fxFlex="20">
            <button class="cta">
              <span class="hover-underline-animation">
                <mat-icon class="icon-display">perm_identity</mat-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="60">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="40"></div>
        <div fxLayout="column" fxFlex="30">
          <img class="artdly" src="assets/artdlyLogo.png">
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="20">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="row" fxFlex="78"></div>
        <div fxLayout="column">
          <div fxLayut="column" fxFlex="32"></div>
          <div title="Publicar obra" fxLayut="column" fxFlex="20">
            <button class="cta">
              <span class="hover-underline-animation">
                <mat-icon class="icon-display">add</mat-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
