.topBar{
  height: 80px;
  background: cornsilk;
  cursor: pointer;
}
.artdly{
  max-height: 80px;
  max-width: 130px;
  cursor: pointer;
}
.contentBody{
  height: 75%;
}
.artwork{
  width: 87%;
  height: 200px;
  padding-left: 5%;
  padding-top: 10px;
  background: brown;
}
.icon-display {
  transform: scale(1.5);
}
.center {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 63%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}





label {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
}

input {
  display: none;
}

input:checked + label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
}

input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
}

input + label .action span.option-1 {
  transform: translate(0px,0%);
  opacity: 1;
}

input:checked + label .action span.option-1 {
  transform: translate(0px,-100%);
  opacity: 0;
}

input + label .action span.option-2 {
  transform: translate(0px,100%);
  opacity: 0;
}

input:checked + label .action span.option-2 {
  transform: translate(0px,0%);
  opacity: 1;
}

