<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="topBar">
    <div fxLayout="column" fxFlex="20"></div>
    <div fxLayout="column" fxFlex="60">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="40"></div>
        <div fxLayout="column" fxFlex="30">
          <img class="artdly" src="assets/artdlyLogo.png">
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="20"></div>
  </div>
  <div style="height: 60px"></div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="contentBody">
    <mat-card class="center" style="width: 80%; height: 90%">
      <div fxLayout="column" fxFlex="50"></div>
      <div fxLayout="column" fxFlex="50">
        <div fxLayout="column" fxFlex="80" class="center">
          <div fxLayout="row" fxFlex="12.5" class="center" style="font-size: xx-large; padding-top: 15px">
            Registrate
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Nombre" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Apellido" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Correo" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Nick" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Contraseña" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5" style="width: 80%; padding-top: 10px">
            <input placeholder="Describete" type="text" class="input" required="">
          </div>
          <div fxLayout="row" fxFlex="12.5"style="width: 80%; padding-top: 10px">
            <div class="date-picker">
              <div class="input">
                <div class="result">Select Date: <span></span></div>
                <button><i class="fa fa-calendar"></i></button>
              </div>
              <div class="calendar"></div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="20"></div>
      </div>
    </mat-card>
  </div>
</body>
</html>
